@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.main{
    margin-top: 10px;
}
.container-fluid{
    margin-left: 570px;
}
.si-box{
    width: 465px;
    height: auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    padding: 40px 50px;
}
.si-box form input{
    border-radius: 5px;
    width: 300px;
}
.si-box form select{
    font-size: 13px;
    background-color: grey;
    color: white;
}
.si-box form select option{
    background-color: white;
    color: black;
}
.si-box form button{
    margin-top: 10px;
    width: 300px;
    height: 27px;
    text-align: center;
    font-size: 13px;
}
.main table{
    margin-left: 500px;
}
.try{
    margin-left: 0;
}
.try table tr td p{
    margin-top: 15px;
}
#last{
    font-size: 13px;
    margin-left: 500px;
}